Qno-By importing required module create a dataframe.Display the dataframe {'age':[30, 2, 12, 4, 32, 33, 69], 'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'], 'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'], 'height':[165, 70, 120, 80, 180, 172, 150], 'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2], 'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX'] }, index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia']

**After creating perform the following set of questions:- 1.selecting column penelope 2.selecting columns cornelia,jane,dean 3.selecting columns from aaron upto dean 4.selecting 4th index column 5.selecting rows from 1 to 4 and 2nd column

In [2]:
import pandas as pd
import numpy as np
data = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']},
                    index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
data

           age  color    food  height  score state
Jane        30   blue   Steak     165    4.6    NY
Nick         2  green    Lamb      70    8.3    TX
Aaron       12    red   Mango     120    9.0    FL
Penelope     4  white   Apple      80    3.3    AL
Dean        32   gray  Cheese     180    1.8    AK
Christina   33  black   Melon     172    9.5    TX
Cornelia    69    red   Beans     150    2.2    TX

Question - 1

In [3]:
data.loc['Penelope']

age           4
color     white
food      Apple
height       80
score       3.3
state        AL
Name: Penelope, dtype: object

Question - 2

In [ ]:
data.loc[['Cornelia','Jane','Dean']]

Question - 3

In [4]:
data.loc['Aaron':'Dean']

          age  color    food  height  score state
Aaron      12    red   Mango     120    9.0    FL
Penelope    4  white   Apple      80    3.3    AL
Dean       32   gray  Cheese     180    1.8    AK

Question - 4

In [5]:
data.iloc[4]

age           32
color       gray
food      Cheese
height       180
score        1.8
state         AK
Name: Dean, dtype: object

Question - 5

In [10]:
data.iloc[[1,4],2]

Nick      Lamb
Dean    Cheese
Name: food, dtype: object