## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [2]:
# Single word
"Hello"

'Hello'

In [46]:
# Entire phrase 
"This is also a string"

'This is also a string'

In [4]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [5]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-5-da9a34b3dc31>, line 2)

In [6]:
#correction of above
"I'm using single quotes, but this will not create an error"

"I'm using single quotes, but this will not create an error"

## Printing a String

In [8]:
# We can simply declare a string
"Hello World"

'Hello World'

In [9]:
# Note that we can't output multiple strings this way
"Hello World 1"
"Hello World 2"

'Hello World 2'

We can use a print statement to print a string.

In [11]:
print("Hello World 1")
print("Hello World 2")
print("Use '\n' to print a new line")
print("\n")
print("See what I mean?")

Hello World 1
Hello World 2
Use '
' to print a new line


See what I mean?

## String Basics

In [12]:
len("Hello World")

11

## String Indexing

In [13]:
# Assign s as a string
s = "Hello World"

In [14]:
#Check
s

'Hello World'

In [15]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [16]:
# Show first element (in this case a letter)
s[0]

'H'

In [17]:
s[1]

'e'

In [18]:
s[2]

'l'

In [19]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [20]:
# Note that there is no change to the original s
s

'Hello World'

In [21]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

In [22]:
#Everything
s[:]

'Hello World'

In [23]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [24]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

In [25]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [26]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [27]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

In [28]:
s[-3:-5:-1]

'ro'

In [29]:
s

'Hello World'

In [30]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [31]:
s

'Hello World'

In [32]:
# Concatenate strings!
s + " concatenate me!"

'Hello World concatenate me!'

In [34]:
# We can reassign s completely though!
s = s + " concatenate me!"

In [35]:
print(s)

Hello World concatenate me! concatenate me!

In [36]:
s

'Hello World concatenate me! concatenate me!'

We can use the multiplication symbol to create repetition!

In [38]:
letter = "z"

In [39]:
letter*10

'zzzzzzzzzz'

In [40]:
s

'Hello World concatenate me! concatenate me!'

In [41]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME! CONCATENATE ME!'

In [42]:
# Lower case
s.lower()

'hello world concatenate me! concatenate me!'

In [43]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!', 'concatenate', 'me!']

In [44]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me! concatenate me!']

In [45]:
"Insert another string with curly brackets: {}".format("The inserted string")

'Insert another string with curly brackets: The inserted string'